{% extends "base.html" %}
{% load crispy_forms_filters %}

{% load crispy_forms_tags %}
<form method="post" class="uniForm">
    {{ my_formset|crispy }}
</form>

{% block content %}

    <br><br>

    <div class="row">

  <div class="col-md-6 offset-md-3">

    <h3> Sign in </h3>
    <hr>

    <form method = 'post'>

        {% csrf_token %}
        {{form|crispy}}
        <br>

        <button  type  = 'submit' class = 'btn btn-blue-grey' > Login </button>
    </form>
</div>
</div>
    <br><br>
{% endblock content %}